/* common styles */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  outline: none;
}

html {
  font-size: 60%;
}

body {
  background-color: #ffffff;
}


/* feeds page */
.feeds-page {
  width: 100%;
  height: 100vh;
}

/* feeds nav */
.feeds-nav {
  position: fixed;
  width: 100%;
  height: 6.4rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  text-decoration: none;
  margin-right: 6rem;
  font-size: 2.5rem;
  color: #0c0c0c;
}

.icons .active {
  color: rgba(29,161,242,1.00);
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar-input {
  width: 35rem;
  height: 4rem;
  border: 0.1px solid #EBEEF0;
  border-radius: 3rem;
  background-color: #EBEEF0;
  padding-left: 5rem;
  transition: all 0.3s;
}

.search-bar-input:focus {
  background-color: #fff;
  border-color: #1aa1f5;
 
}

.search-bar i {
  position: absolute;
  font-size: 1.6rem;
  left: 1.5rem;
  color: #9e9a9a;
}


.user {
  margin-left: 4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 0.6rem;
  width: 19rem;
}

.user-img-wrapper {
  width: 4rem;
  height: 4rem;
}

.user-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-link {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #444;
}

.user i {
  color: #444;
  font-size: 1.6rem;
}

.user span{
  color: rgb(161, 161, 161);
  font-size:1.2rem;
  position: fixed;
  top: 4.6rem;
  right: 29.5rem;
}

.user:hover{
  background-color: rgba(177, 239, 255, 0.199);
  border: rgba(177, 239, 255, 0.199);
  border-radius: 4rem;
  
}

/* end of feeds nav */
/* feeds content */
.feeds-content {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
  grid-template-rows: repeat(2, min-content);
  padding-top: 6.5rem;
}

.feeds-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #fff;
  margin-top: 1.5rem;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
  padding: 1.5rem;
}

.header-top h4 {
  font-size: 2.2rem;
}

.header-top i {
  font-size: 2rem;
  color: rgba(29,161,242,1.00);
}

.header-post {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid #eee;
  height: 10rem;
}

.header-img-wrapper {
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
  margin-bottom: 6.5rem;
 
}

.header-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  

}

.header-post input {
  width: 35rem;
  height: 3rem;
  border: 0.1rem solid #ffffff;
  background-color: #ffffff;
  padding: 0.4rem 1.5rem;
  margin-bottom: 6.5rem;
  
}

.header-post i {
  font-size: 2.2rem;
  color: rgba(29,161,242,1.00);
  margin: 1rem;
  position: relative;
  right: 36rem;
  top: 3rem;

  
}

.posts {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  background-color: #fff;
}

.post {
  display: flex;
  padding: 1.5rem;
  border-bottom: 0.1rem solid #eee;
}

.user-avatar {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  margin-right: 1.5rem;
  cursor: pointer;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post-user-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.post-user-info h4 {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.post-user-info h4:hover{
  text-decoration: underline;
}

.post-user-info span {
  font-size: 1.4rem;
  color: #444;
  cursor: pointer;
}

.post-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.post-img {
  width: 48rem;
  height: 30rem;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.post-icons {
  margin-top: 1.2rem;
}

.post-icons i {
  font-size: 1.7rem;
  color: #929292;
  margin-right: 10rem;
  cursor: pointer;
}

.like:hover{
  color: red;

}


.retweet:hover{
  color: rgb(51, 185, 51);
}

.comment:hover{
  color: rgb(29,161,242);
}

.link:hover{
  color: rgb(116, 171, 206);

}

.follow {
  position: fixed;
  top: 9rem;
  left: 60%;
  background-color: #fff;
  width: 35.1rem;
  background-color: rgb(247,249,250);
  border-radius: 20px;
  
}

.follow-heading {
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 1000;
  border-bottom: 0.1rem solid #eee;
  
}


.follow-user {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 0.1rem solid #eee;
  cursor: pointer;
  
}

.follow-user-img {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1.3rem;
}

.follow-user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.follow-user-info h4
 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.follow-user-info p {
  font-size: 1.3rem;
  color: #444;
}

.follow-user-info h4:hover{
  text-decoration: underline;
}

.follow-btn {
  margin-left: auto;
  width: 8rem;
  background-color: rgb(247,249,250);
  color: #1aa1f5;
  padding: 0.7rem 0.5rem;
  border: 0.1rem solid #1aa1f5;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.follow-btn:hover{
  background-color:#dfeaf1 ;
}
.follow-link {
  margin: 2rem 1rem;
  
}

.follow-link a {
  text-decoration: none;
  color: #1aa1f5;
  font-size: 1.5rem;


}

.follow-footer {
  background-color: #ffffff;
  position: fixed;
  top: 40rem;
  width: 36rem;
}

.follow-footer ul {
  list-style: none;
  display: flex;
  padding: 2rem 0;
}

.follow-footer a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #868383;
  margin: 0 0.5rem;
}
.follow-footer a:hover{
  text-decoration: underline;
}
.follow-footer p{
  color: #868383;
}
.tweet-btn {
 
  position: relative;
  top: 3rem;
  width: 7.8rem;
  padding: 0.9rem 0.8rem;
  background-color: #1aa1f5;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  border: 0.1rem solid #1aa1f5;
  border-radius: 3rem;
  transition: background-color 0.3s;
  opacity: 0.5;
  cursor: pointer;
  
}


/* end of feeds page */
